<main class="cart-page">
    <a href="/products" class="back-btn"> <img src="/static/images/back-icon.svg" alt="Back Icon"></a>
  <h1>Carrito</h1>
  <div class="cart-container">
  <div class="products-container">
    {{#if products}}
      {{#each products}}
        <div class="product">
          <img class="product-img" src="/static/images/placeholder.png" alt="{{this.title}}" />
          <div class="product-info">            
            <div class="product-desc">
              <h2>{{this.title}}</h2>
              <p>{{this.description}}</p>
              <p>{{format this.price}} c/u</p>
            </div>
            <div class="product-quantity">
              <a class="delete-btn" pid="{{this._id}}" cid="{{../cart}}">-</a>
              <p>{{this.quantity}}</p>
              <a class="add-btn" pid="{{this._id}}" cid="{{../cart}}">+</a>
            </div>
            <p class="product-subtotal">{{ subtotal this.price this.quantity}}</p>
          </div>

        </div>
      {{/each}}
    {{else}}
      <p class="empty-cart">¡El carrito está vacío!</p>
    {{/if}}
  </div>
  <div class="total-container">
      <div class="total">
        <h2>Total: {{ format total }}</h2>
        <a class="buy-btn" user="{{user}}">Confirmar compra</a>
      </div>
  <a cid="{{cart}}" class="empty-cart-btn"><img src="/static/images/empty-cart-icon.svg" alt="Empty Cart">Vaciar carrito</a>
  </div>
  </div>

</main>

<script src="/static/js/cart.js"></script>