<main class="cart-page">
  <h1>Carrito</h1>
  <div class="products-container">
    {{#if products}}
      {{#each products}}
        <div class="product">
          <img class="product-img" src="/static/images/placeholder.png" alt="{{this.title}}" />
          <div class="product-info">
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Cantidad: {{this.quantity}}</p>
            <p>Total: {{ subtotal this.price this.quantity}}</p>
          </div>
          <a
            class="delete-btn"
            pid="{{this._id}}"
            cid="{{../cart}}"
          ><img src="/static/images/delete-icon.svg" alt="Delete Icon"> Eliminar  </a>
        </div>
      {{/each}}
      <div class="total">
        <h2>Total: {{ format total }}</h2>
      <form action="/api/ticket/purchase" method="POST">
      <input type="submit" class="checkout-btn" value="COMPRAR" />
      </form>
      </div>
    {{else}}
      <p class="empty-cart">¡El carrito está vacío!</p>
    {{/if}}
  </div>
  <a cid="{{cart}}" class="empty-cart-btn"><img src="/static/images/empty-cart-icon.svg" alt="Empty Cart">Vaciar carrito</a>
  <a href="/products" class="back-btn"> <img src="/static/images/back-icon.svg" alt="Back Icon"> Volver a productos</a>

</main>

<script src="/static/js/cart.js"></script>