<main class="product-page">
  <div class="cart-icon-container">
    <img class="cart-icon" src="/static/images/cart-icon.svg" alt="Cart Icon" />
  </div>
  <h1>PRODUCTOS</h1>
  <h2>{{currentPage}}</h2>
  <div class="paginate-container">
    {{#if prevPage}}
      <a href="{{prevPage}}" class="paginate-link">
        <img src="/static/images/prev.svg" alt="Previa" />
      </a>
    {{/if}}
    <div class="products-container">
      {{#each products}}
        <div class="product-card">
          <span class="card--cat">{{format this.category}}</span>
          <a href="/products/{{this._id}}">
            <img
              src="/static/images/placeholder.png"
              {{!Acá voy a implementar una librería para slides. Provisoriamente uso un placeholder en lugar de this.thumbnails}}
              alt="{{this.title}}"
            />
          </a>
          <span class="card--title"> {{this.title}}</span>
          <span class="card--price"><b>{{format this.price}}</b></span>
        </div>
      {{/each}}
    </div>
    {{#if nextPage}}
      <a href="{{nextPage}}" class="paginate-link">
        <img src="/static/images/next.svg" alt="Siguiente" />
      </a>
    {{/if}}
  </div>
</main>